<form asp-action="Index" method="post">
    <input type="number" name="ChieuCao" placeholder="Nhập cân nặng" />
    <input type="number" name="CanNang" placeholder="Nhập chiều cao" />
    <input type="submit" value="Submit" />
</form>
<h2>Du Lieu: @ViewBag.Message</h2>