<h2></h2>
<form asp-action="Bai2" method="post">
    <input type="number" name="A" placeholder="Nhap so thu 1" />
    <input type="number" name="B" placeholder="Nhap so thu 2" />
    <input type="submit" value="Submit" />
</form>
<label>Chọn phép toán: </label>
    <select name="Operation">
        <option value="Add">Cộng</option>
        <option value="Sub">Trừ</option>
        <option value="Mul">Nhân</option>
        <option value="Div">Chia</option>
    </select>












